<nav class="align-start">
  <%= link_to_home %>

  <div class="btn btn--placeholder flex-item-justify-start"></div>

  <header class="flex flex-inline flex-column center flex-shrink">
    <div class="card-filter--collection flex-inline flex-column align-center center position-relative" data-controller="dialog" data-action="click@document->dialog#closeOnClickOutside keydown.esc->dialog#close">
      <%= tag.button class: "txt-align-center input input--select borderless txt-medium",
          data: {
            action: "click->dialog#open:stop keydown.meta+j@document->hotkey#click keydown.ctrl+j@document->hotkey#click",
            controller: "hotkey" } do %>
        <h1 class="txt-large overflow-ellipsis margin-none">
          <span><%= filter_title filter %></span>
        </h1>
      <% end %>

      <%= render "filters/settings", filter: filter %>

      <%= tag.dialog class:"popup popup--animated panel flex-column align-start gap-half fill-white shadow",
          data: {
            action: "turbo:before-cache@document->dialog#close keydown->navigable-list#navigate filter:changed->navigable-list#reset",
            controller: "filter navigable-list",
            dialog_target: "dialog",
            navigable_list_focus_on_selection_value: false,
            navigable_list_actionable_items_value: true } do %>
        <%= render "events/filter/header" %>
        <%= render "events/filter/new_collection_option" %>
        <%= text_field_tag :search, nil, placeholder: "Filter…", class: "input input--transparent txt-small", autofocus: true,
              type: "search", autocorrect: "off", autocomplete: "off", data: { "1p-ignore": "true", filter_target: "input", action: "input->filter#filter" } %>
        <menu contents>
          <%= render "cards/index/collections_filter", filter: filter %>
        </menu>
        <p class="txt-small txt-align-center margin-block-half full-width">
          Press <kbd class="kbd"><%= hotkey_label(["ctrl", "J"]) -%></kbd> anytime to open this, <kbd class="kbd">esc</kbd> to close, <kbd class="kbd">↑</kbd><kbd class="kbd">↓</kbd> to move, <kbd class="kbd">enter</kbd> to navigate, <kbd class="kbd">SHIFT+ENTER</kbd> to select.
        </p>
      <% end %>
    </div>
  </header>

  <% if collection = filter.single_collection %>
    <div class="flex-item-justify-end">
      <%= access_involvement_advance_button collection, Current.user %>
    </div>

    <%= link_to edit_collection_path(collection), class: "btn" do %>
      <%= icon_tag "settings" %>
      <span class="for-screen-reader">Settings for <%= collection.name %></span>
    <% end %>
  <% else %>
    <div class="btn btn--placeholder flex-item-justify-end"></div>
    <div class="btn btn--placeholder"></div>
  <% end %>
</nav>
