<div class="max-width margin-block-end-half"
		data-controller="dialog" data-action="keydown.esc->dialog#close click@document->dialog#closeOnClickOutside">
	<%= tag.button class:"events__filter-btn input input--select flex-inline center min-width max-width txt-small",
			data: {
				action: "click->dialog#open:stop keydown.meta+j@document->hotkey#click keydown.ctrl+j@document->hotkey#click",
				controller: "hotkey" } do %>
		<span class="overflow-ellipsis center">
			<%= filter_selected_collections_label(filter) %>
		</span>
		<% end %>

	<%= tag.dialog class: "filter events__popup popup popup--animated panel flex-column align-start gap-half fill-white shadow",
			style: "z-index: 5;",
			data: {
				action: "turbo:before-cache@document->dialog#close keydown->navigable-list#navigate filter:changed->navigable-list#reset",
				controller: "filter navigable-list",
				dialog_target: "dialog",
				navigable_list_focus_on_selection_value: false,
				navigable_list_actionable_items_value: true } do %>
		<%= render "events/filter/header" %>
		<%= render "events/filter/new_collection_option" %>

		<%= text_field_tag :search, nil, placeholder: "Filter…", class: "input input--transparent txt-small", autofocus: true,
					type: "search", autocorrect: "off", autocomplete: "off", data: { "1p-ignore": "true", filter_target: "input", action: "input->filter#filter" } %>

		<%= render "events/filter/custom_collections" %>
		<%= form_with url: events_path, method: :get, class: "flex flex-column max-width popup__list full-width",
					data: { controller: "form" } do |form| %>
			<%= render "events/filter/all_collections_option", form: form, filter: filter %>

			<% if Current.user.collections.many? %>
				<div contents>
					<%= render partial: "events/filter/collection_option", collection: Current.user.collections.alphabetically, as: :collection, locals: { form: form, filter: filter } %>
				</div>
			<% end %>
		<% end %>

		<p class="txt-small txt-align-center margin-block-half full-width">
			Press <kbd class="kbd"><%= hotkey_label(["ctrl", "J"]) -%></kbd> anytime to open this, <kbd class="kbd">esc</kbd> to close, <kbd class="kbd">↑</kbd><kbd class="kbd">↓</kbd> to move, <kbd class="kbd">enter</kbd> to navigate, <kbd class="kbd">SHIFT+ENTER</kbd> to select.
		</p>
	<% end %>
</div>
