<%= turbo_frame_tag dom_id(@bubble, :pin) do %>
  <% if @bubble.pinned_by? Current.user %>
    <%= button_to bubble_pin_path(@bubble), method: :delete, class: "btn btn--reversed" do %>
      <%= icon_tag "pinned" %>
      <span class="for-screen-reader">Un-pin this card</span>
    <% end %>
  <% else %>
    <%= button_to bubble_pin_path(@bubble), class: "btn" do %>
      <%= icon_tag "unpinned" %>
      <span class="for-screen-reader">Pin this card</span>
    <% end %>
  <% end %>
<% end %>
